<%- include('./partials/header') %>

<h1>Wine Notes</h1>
  <a href="/wines/index"><button>My Wines</button></a>
  <a href="/vendors/index"><button>My Vendors</button></a>

<%- include('./partials/footer') %>
