<%- include('./partials/header') %>
<br>

<h1 class="home1">Wine Notes</h1>

  <a href="/auth/google" class="login"><button class="home-button">Log in</button></a>
  <p class="home2">to build your collection</p>


<%- include('./partials/footer') %>
