<%- include('./partials/header') %>
<br>

<h1>Wine Notes</h1>

  <a href="/auth/google" class="login"><button class="extra-large-button">Log in</button></a>
  <p class="log-in">to build your collection</p>

<%- include('./partials/footer') %>
