* {
  box-sizing: border-box;
}

/* 
theme colors:
mid red wine #44052b
dark red wine 
light red wine #be9ab0
light white wine #f3f0cf
*/


body {
  margin: 0;
  font: 14px "Kite One","Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #be9ab0;
}

main {
  min-width: 80vw;
}

.kiteone {
  font-family: "Kite One";
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

a {
  color: #44052b;
  text-decoration: none;
}

a:hover {
  color: white;
}

button {
  background-color: #be9ab0;
  color: #44052b;
  border: solid #44052b;
  border-radius: 10px;
}

button:hover {
  color: white;
  border-color: white;
}

nav {
  height: 5vh;
  background-color: #a78399;
  color: black;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#outer-limit {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#inner-limit {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

section {
  border: 3px solid #44052b;
}

#wine-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: none;
}

#wine-type, #wine-maker {
  border: solid #44052b;
  margin: 1vw;
  padding: 0 1vw;
}

.label-d {
  /* padding-left: 2vw; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
  padding-bottom: 0;
}

.label-p {
  flex-wrap: nowrap;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.value-d {
  flex-wrap: nowrap;
  background-color: #dcc9d4;
  border-radius: 15px;
  justify-content: center;
}

.value-p {
  flex-wrap: nowrap;
  border: 5px solid #dcc9d4;
  border-radius: 15px;
}

#wine-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#avg-rating {
  width: 2rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: solid black;
}

#avg-rating p {
  text-align: center;
  padding: 0;
  margin: auto;
}






.instructions {
  font-family: "Raleway", sans-serif;
}

.vendor {
  outline: 2px solid black;
}

.index-table td {
  outline: 2px solid black;
}

















/* 
.kite-one-regular {
  font-family: "Kite One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */



/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}  */

/* 
.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
} */
